<!-- Section tittle -->
<div class="row" style="text-align: center">
  <h1 class="title_h1" >Thank you for becoming a lumumba designer</h1>
</div>
<!-- End Section tittle -->

<!-- Section Icon and small description become -->
<div class="wrapper">
  <center>
    <ul class="become__list">
      <li class="become__item_1">
        <div class="columns__content">
          <%= image_tag "welcome.svg"%>
          <p class="p_become_1">Thank you for submitting your application. We will notify you once your design is approved. Meanwhile, you can ask your friends to get ready to vote for you during the competition. Good luck!<p>
          </div>
        </li>
      </ul>
    </center>
  </div>
  <!-- End Section Icon and small description become -->
