<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <h1>Message from  <%= @message.email %></h1>
        <p><%= @message.message %></p>
      </td>
    </tr>
  </tbody>
</table>
