<ul class="social-buttons list-unstyled">
  <li>
    <a href="#" class="btn btn-social btn-google">
      <i class="fa fa-google" aria-hidden="true"></i>
      <span class="btn-text">Sign In With Google</span>
    </a>
  </li>

  <li>
    <a href="#" class="btn btn-social btn-facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <span class="btn-text">Sign In With Facebook</span>
    </a>
  </li>
  <li>

    <a href="#" class="btn btn-social btn-twitter">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <span class="btn-text">Sign In With Twitter</span>
    </a>
  </li>
</ul>
