<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
  <tbody>
    <tr>
      <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
        <h1>Welcome to the Lumumba tribe <br><b><%= @user.email %></b>!</h1>
        <p>We are bringing traditional cultures to the spotlight by creating meaningful clothes you can wear on your skin. We collaborate with renowned designers from countries in Asia, Africa and beyond. Every month the Lumumba community comes together to participate in an online design competition for fashion students and young designers.
          <br> <p>Our motto: Wear the world.</p>
          <p>This is the Beta Version of Lumumba, which means you are one of our first users. We welcome you to send us feedback at tribe@lumumba.com or through any of our social media channels. Thank you.</p>
        </td>
      </tr>
    </tbody>
  </table>
