<div class="buttons_design">
  <a  href="<%= new_design_path %>" class="btn btn-lg button_become_left button_blue">
    <div class="button__text">Upload New Outfit</div>
  </a>

  <a href="<%= guide_path %>" class="btn btn-lg button_become_right button_blue">
    <div class="button__text">Competition Designer Guide</div>
  </a>
</div>
