<div class="profile">
  <div class="row">
    <h3>My profile</h3>
  </div>

  <div class="profile-details">
    <div class="row account-avatar">
      <div class="col-xs-12">
        <% if @user.image != "upload" || (@user.status == "upload") && @user.image.present? %>
          <%= image_tag @user.image, class: "account-avatar-photo" %>
        <% else %>
          <div class="account-avatar-photo" ></div>
        <% end %>
      </div>
    </div>

    <div class="row image-upload">
      <%= render "image_upload" %>
    </div>
  </div>

  <div class="row">
    <%= render "edit_profile" %>
  </div>
</div>
