<div class="default-container" style="margin-bottom: 75px">
  <% if current_user  %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= render "left_menu" %>
        </div>
        <div class="col-md-8">
          <div class="row profile-top">
            <h1 class="title_h1">My dashboard</h1>
            <p class="page-description">Welcome to your dashboard. You can set up your account, check your orders and manage your designs here.</p>
          </div>
          <div class="row">
            <div id="design-info">
              <%= render 'add_design_button' %>
              <% if @designs.empty? %>
                <p class="button__text"> User has no designs </p>
              <% else %>
                <%= render 'my_designs' %>
              <% end %>
              <%= paginate @designs %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
