<div class="default-container">
  <% if current_user.id == @user.id %>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%= render "left_menu" %>
        </div>
        <div class="col-md-8">
          <div class="row profile-top">
            <%= render "profile_top"%>
          </div>
          <div class="row">
            <%= render "profile" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= render "public_profile" %>
  <% end %>
</div>
