<div class="row countdown-wrapper">
  <div class="countdown">
    <h5>Join the competition and become a Lumumba designer. Starts in:</h5>
    <div class="clock-wrapper">
      <div class="clock"></div>
    </div>
    <div class="competition-desc">
      <div class="row competition-desc-text">
        If you win, your designs will become a Lumumba clothing collection. You create amazing designs, we take care of the rest
      </div>
      <div class="">
          <%= link_to "Join the competition", new_user_registration_path, class: "btn btn-lg button_blue"%>
      </div>
    </div>
  </div>
  <!-- <img src="http://wpthemes.icynets.com/centilium/wp-content/uploads/sites/4/2014/09/Fashion-Top-Models-0017.jpg" alt="" /> -->
</div>
