<div class="row countdown-wrapper">
  <div class="countdown">
    <h5>Join the competition and become a Lumumba designer</h5>
    <div class="clock"></div>
    <div class="Competition-desc">
      If you win, your designs will become a Lumumba clothing collection. You create amazing designs, we take care of the rest
      <a href="/designs" class="btn btn-large button_white-blue">
          <div class="button__text">Join the competition</div>
      </a>
    </div>
  </div>
  <img src="http://wpthemes.icynets.com/centilium/wp-content/uploads/sites/4/2014/09/Fashion-Top-Models-0017.jpg" alt="" />
</div>
