<div class="row countdown-wrapper">
  <div class="countdown">
    <h2>Join the competition and become a Lumumba designer. Starts in:</h2>
    <div class="clock-wrapper">
      <div class="clock"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="competition-desc">
          <p class="competition-desc-text">
            If you win, your designs will become a Lumumba clothing collection. You create amazing designs, we take care of the rest
          </p>
        </div>
        <div class="">
          <% if user_signed_in? %>
            <button type="button" class="btn btn-lg button_blue upcase no-decorate" data-toggle="modal" data-target="#competition_modal">Join the competition</button>
          <% else %>
            <%= link_to "Join the competition", new_user_registration_path, class: "btn btn-lg button_blue upcase no-decorate"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="competition_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Join the competition</h4>
        </div>
        <div class="modal-body">
          <p>Thanks for signing up, we will notify you once the competition is live on December 1st. If you want to join as an early user, send us an email at tribe@lumumba.com</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
