<div class="row">
  <div class="brand-ambassadors lato">
    <div class="row prize-page-title">
      <h1>Brand Ambassadors</h1>
    </div>
    <p>
      Are you a Fashion student? Do you want to become a Lumumba ambassador? Here are the perks & benefits:
    <p>
    <ul>
      <li>You will get an item from our current clothing collection for free. If you're a woman, well, you get to enjoy it yourself. If you're a man, you can gift it to a special person in your life.</li>
      <li>Your competition outfit design will be on top of the page on the first day of the competition.</li>
      <li>You will receive a special Ambassador badge on your Lumumba profile.</li>
      <li>Last but not least, if you have a LinkedIn profile, our CEO will issue a recommendation on your profile so your future boss knows you're awesome.</li>
    </ul>

    <p>
      In exchange, we ask you to spread the word about the competition in your fashion college or university. Ask your friends, fellow students and every designer you know to join the Lumumba tribe and be part of the competition. Ideally, you should be able to bring more than 10 people onboard.
    </p>

    <p>You can send a request to <a href="mailto:tribe@lumumba.com">tribe@lumumba.com.</a></p>

    <div class="row competition-button">
      <a href="<%= competition_path %>" class="btn btn-lg button_blue upcase no-decorate">Back To Competition Page</a>
    </div>
  </div>
</div>
