<div class="default-container">

  <h1 class="title_h1_head">Design Guide</h1>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1.Who can be part of the competition?
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          Everybody in the world! You just need to present the designs in digital format or as pictures with a model and prototype.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. How does it works?
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Welcome to the Lumumba tribe. Each month of the year we select a different culture from the world and we will host an online design competition. The competition will follow the monthly cultural theme. We will write stories about it, publish pictures, videos and such, so you can learn about it and get inspiration.
          <br />
          You can visit <a href="<%= themes_path %>">Theme page</a> on the website where you can find information describing the culture and theme of the competition. Inside your profile, you can upload designs anytime you want. Designs can be edited, uploaded to the competition and much more through your profile. Imagine as if you have your own Lumumba portfolio.
          <br />
          We want you to be part of the community and join us on this journey. If you want to win the competition, you will need to obtain the most votes. So feel free to ask your friends and family to vote for you. We want to promote local talent around the world, this is an opportunity for you to start spreading your designs and ideas internationally.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3. What do I have to deliver to compete?
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          An outfit for women consisting of three pieces of garment. You will have to upload 5 JPG file and describe your inspiration for each design. You also have the option to upload the Technical Sheet.
          <br />
          Optional: You can prototype the garments and send pictures with models (ask your friends!). The better the presentation is, the better the response will be from the Lumumba tribe.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            4. What do I have to design and for whom? For which season?
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          We would like the clothes to be street, modern and urban, so anybody in any city can wear them on a daily basis. The clothing collection made by the competition's winner will be released 2-3 months after the end of the competition. You should take into account the seasonality (Spring - Summer - Autumn - Winter). This means, if the competition is held in December, the clothing collection will be released during February, which is late Winter - early Spring.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            5. What materials can I use?
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          We will produce the garments under your specifications. Try to use common materials so that the final garment can be the same as your designs. We can use digital printing, embroidery and other basic techniques. Avoid metal, mirror and hand-made materials with difficult applications.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSix">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            6. What are the dates?
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="panel-body">
          Each competition lasts a complete month, from January to December. We open a total of 12 competitions each year inspired by 12 different cultures.
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingSeven">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            7. What is the prize?
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <ul>
            <li class="li_guide">
              10% of the net income (Revenue of your clothes - Cost of your clothes). The winners will be showcased on the platform and our social media profiles.
            </li>
            <li class="li_guide">
              We will interview them and create content with their ideas. They will also be invited to publish content on the platform.
            </li>
            <li class="li_guide">
              The clothes will be sold internationally and the label will feature your name like this: "Your Name x Lumumba".
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <center style='margin-bottom: 40px'>
    <a href="<%= design_guide_path %>" class="btn btn-lg button_orange" style='font-size: 28px; padding: 10px'>
      <div style='font-size: 28px;' class="button__text">View Mannequin</div>
    </a>
  </center>
</div>
