<div class="homepage-image-cont">
  <div class="homepage-image">
  </div>
  <div class="homepage-image-text">
    <div class="row" style="margin-right: unset">
      <div class="jumbotron hp-jumbotron">
        <h1>Wear The World</h1>
        <p>A new kind of street fashion. Wear beauty, cultures and traditions on your skin.</p>
      </div>
    </div>
      <div class="row homepage-video" style="margin-right: unset">
        <div class="homepage-video-container">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/q-eiR64vxfs"></iframe>
        </div>
      </div>
  </div>
</div>

<div class="homepage-social">
  <h2>Follow us to receive great offers</h2>
  <ul class="list-inline list-social">
    <li class="social-twitter">
      <a href="https://www.facebook.com/lumumbafashion" target="_blank"><i class="fa fa-twitter"></i></a>
    </li>
    <li class="social-facebook">
      <a href="https://twitter.com/lumumbafashion" target="_blank"><i class="fa fa-facebook"></i></a>
    </li>
    <li class="social-instagram">
      <a href="https://instagram.com/lumumbafashion" target="_blank"><i class="fa fa-instagram"></i></a>
    </li>
    <li class="social-pinterest">
      <a href="https://pinterest.com/lumumbafashion" target="_blank"><i class="fa fa-pinterest"></i></a>
    </li>
  </ul>
</div>
