<%= render "layouts/homepage_image"%>

  <div class="row competition" id="competition">
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 competition-left">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 competition-overlay">
        <h2>Beautiful designs inspired by cultures from around the world</h2>
        <button class="btn btn-large become-designer-cta">Shop Now</button>
      </div>
      <%= image_tag("home_left.jpg")%>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 competition-right">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 competition-overlay">
        <h2>Become a Lumumba designer. Inspire yourself and win the design competition.</h2>
        <button class="btn btn-large become-designer-cta">Join Competition</button>
      </div>
      <%= image_tag("homepage_right.jpg")%>
    </div>
  </div>
