<%= render "layouts/homepage_image"%>

<div class="row shop-now" id="shop_now">
  <div class="shop-now-text">
    <h5>Street fashion inspired by cultures from around the world. Modern apparel that connects to identities, diversity and traditions.</h5>
    <a href="/products" class="btn btn-lg become-designer-cta button_orange">Shop Now</a>
  </div>
  <%= image_tag "provagris.jpg"%>
</div>

<div class="row shop-now">
  <%= render "countdown_timer"%>
</div>
