<div class="row">
  <div class="prize-container lato">
    <div class="row prize-page-title">
      <h1>Competition Prize</h1>
    </div>
    <ul class="prize-list">
      <li class="first-prize">To Be Announced</li>
      <li class="second-prize">To Be Announced</li>
      <li class="third-prize">To Be Announced</li>
      <li class="fourth-prize">To Be Announced</li>
    </ul>
    <div class="row competition-button">
      <a href="<%= competition_path %>" class="btn btn-lg button_blue upcase no-decorate">Back To Competition Page</a>
    </div>
  </div>
</div>
