<% if @order.shipping != nil %>
  <div class="col-md-12" style='margin: 10px 0 60px 0; padding: 0 0 0 0'>
    <form id="checkout" class='lumumba-payment-form' method="post" action="<%= checkout_path %>">
      <div id="payment-form">
      </div>
      <input id="order" class='lumumba-token-hidden-input' name="order" value="<%= @order.slug %>" hidden="true">
      <input id='lumumba-token-hidden-input' name="stripe_token" hidden="true">
    </form>
    <button class="btn btn-lg btn-primary button_principal button_become_right" id='lumumba-payment-cta'>
      Pay € <%= number_with_precision(@order.total_amount, precision: 2) %>
    </button>
  </div>
<% end %>
