<div class="default-container">
  <h1 class="title_h1 order-empty">Thank you for ordering at Lumumba!</h1>
  <div class="row">
    <center>
      <ul class="become__list">
        <li class="become__item_1">
          <div class="columns__content">
            <p class="p_become_1">
              Thank you for ordering at Lumumba. Share your order with your friends, or feel free to keep exploring our designs. See you soon!
            </p>
          </div>
        </li>
      </ul>
    </center>
  </div>
  <div class="row"  style="text-align: center;">
    <a href="<%= products_path %>" class="btn btn-lg button_blue">Continue Shopping</a>
  </div>
  <div class="row">
    <section id="contact" class="contact">
        <div class="container">
            <h2>Follow us to receive great offers</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>
  </div>
</div>
