// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-empty {
  text-align: center;
}

.contact {
  background-color: #337ab7;
  text-align: center;
  background: transparent;
  margin-bottom: 25px;
}
