<footer class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline quicklinks">
        <li><a href="<%= guide_path %>" class="nav-item nav-link">Design Guide</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div>

    <div class="row">
      <span class="copyright"><%= Time.current.year %>. LUMUMBA TECHNOLOGIES SL. CLOUD COWORKING, SARDENYA 229, BARCELONA, SPAIN. | ALL RIGHTS RESERVED.</span>
    </div>
  </div>
</footer>
