<div class="row">
  <div class="home-container">
    <div class="homepage-image">
      <video autoplay="" loop=""  muted="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="<%= asset_path "home_background.png"%>" id="video-background" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;" aria-expanded="true">
        <source src="https://s3-eu-west-1.amazonaws.com/lumumba-public-staging/homepage_short.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      </div>
      <div class="homepage-image-overlay">
      </div>
      <div class="homepage-image-text">
        <div class="row">
          <h5>It’s beauty, cultures and diversity on your skin.</h5>
        </div>
        <h2>Wear The World</h2>
        <div class="row">
          <a href="#shop_now" class="btn btn-lg home-cta">Get Started</a>
        </div>
      </div>
    </div>
  </div>
