<div class="row">
  <div class="home-container">
    <div class="homepage-image">
      <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;" aria-expanded="true">
          <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
      </div>
    <div class="homepage-image-overlay">
    </div>
    <div class="homepage-image-text">
      <h2>Wear The World</h2>
      <div class="row">
        <h5>Create a Memorable Event--Placeholder-- Find Awesome Ones Here </h5>
      </div>
      <div class="row">
        <button class="btn btn-large home-cta">Get Started</button>
      </div>
    </div>
  </div>
</div>
