<nav class="navbar navbar-default custom_nav landing" style="color: white" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("logo.png", size: "122x37")%>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Competition</a></li>
        <li><a href="#">Themes</a></li>
        <li><a href="#">Leader Board</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i><span class="label label-default cart-items-count">8</span></a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
        <% else %>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
